<main class="flex flex-row h-screen w-screen bg-gray-100">

    <!-- Chat History -->
    <div class="flex flex-col w-1/4 bg-gray-300">

    </div>

    <!-- Chat Window -->
    <div class="flex flex-col w-3/4 bg-gray-200">

        <!-- Chat Messages -->
        <div class="flex-1">
            @for (message of messages; track $index) {
                <div class="p-4">
                    <div class="bg-white rounded-lg p-3">
                        <p>{{message}}</p>
                    </div>
                </div>
            }
        </div>

        <!-- User Input -->
        <div class="flex items-end gap-2 p-4">
            <textarea class="flex-1 resize-none rounded-lg border p-3 outline-none focus:ring-2"
                placeholder="Message Ollama..." rows="1">
            </textarea>
            
            <button class="rounded-lg px-4 py-3 bg-black text-white hover:bg-gray-800" (click) = "sendMessage('Hello, Ollama!')">
                Send
            </button>
        </div>

    </div>
</main>