<p>chatbot-page works!</p>
<main class="flex flex-row h-screen w-screen bg-gray-100">

    <!-- Chat History -->
    <div class="flex flex-col w-1/4 bg-gray-300">

    </div>

    <!-- Chat Window -->
    <div class="flex flex-col w-3/4 bg-gray-200">

        <!-- Chat Messages -->
        <div class="flex-1">
            @for (message of messages; track $index) {
            <div class="p-4">
                <div class="bg-white rounded-lg p-3">
                    <p>{{message}}</p>
                </div>
            </div>
            }
            <!-- If message is still loading then we add a loading indicator -->
            @if (is_loading) {
            <div class="p-4">
                <div class="bg-white rounded-lg p-3">
                    <p>Loading...</p>
                </div>
            </div>
            }

        </div>

        <!-- User Input -->
        <div class="flex items-end gap-2 p-4">
            <textarea #messageInput rows="1" placeholder="Message Ollama..."
                class="max-h-40 flex-1 resize-none bg-transparent px-3 py-2 outline-none border border-gray-500 rounded-lg"
                (keydown)="handleKeyDown($event, messageInput)"></textarea>

            <button class="rounded-xl bg-black px-4 py-2 text-white hover:bg-gray-800 disabled:opacity-50"
                [disabled]="is_loading" (click)="sendMessageFromInput(messageInput)">
                Send
            </button>
        </div>

    </div>
</main>